

<div class="jumbotron">
    <h1>BIOINFORMATIX</h1>
    <p class="lead">Aplikace pro podporu studia Bioinformatiky</p>
    <p><a href="https://www.ebi.ac.uk/" class="btn btn-primary btn-lg">Hlavní zdroj - EBI &raquo;</a></p>
</div>
